// fonts
$font-default: "Open Sans", Arial, sans-serif;;

// viewport
$default-width: 660px;

// colors
$color-text: #000000;
$color-bg: #ecf0f3;
$color-btn: #0075ff;
$color-border: #ebebeb;
$color-disabled: #888888;

$color-white: #ffffff;

