.palette {
  width: 640px;
  background-color: $color-white;
  border-radius: 4px;
}

.palette__header {
  display: flex;
  align-items: center;
  padding: 21px 25px 17px 25px;
}

.palette__title {
  margin: 0;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}

.palette__btn-reset {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  font-size: 15px;
  color: $color-btn;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @extend %transition;

  svg {
    fill: $color-btn;
    margin-right: 4px;
    @extend %transition;
  }

  &:hover,
  &:focus {
    color: $color-text;

    svg {
      fill: $color-text;
    }
  }

  &:hover:not([disabled]) svg {
    transform: rotate(-360deg);
  }

  &[disabled] {
    color: $color-disabled;

    cursor: auto;

    svg {
      fill: $color-disabled;
    }
  }
}

.palette__table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 9px 16px 7px 7px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid $color-border;
  }

  th:first-child {
    border-left: none;
  }

  th:last-child {
    border-right: none;
  }

  input[type="checkbox"] {
    width: 12px;
    height: 12px;
    margin: 0;
    margin-right: 2px;
    vertical-align: middle;
  }

  label {
    vertical-align: middle;
  }

  td {
    padding: 18px 16px 16px 8px;
    font-size: 15px;
    line-height: 18px;
    border-top: 1px solid $color-border;
  }

  td:first-letter {
    text-transform: uppercase;
  }

  &--id-hidden .palette__col-id,
  &--name-hidden .palette__col-name,
  &--year-hidden .palette__col-year,
  &--color-hidden .palette__col-color,
  &--value-hidden .palette__col-value {
    display: none;
  }
}

.palette__col-id {
  width: 11%;
  text-align: right;
}

.palette__col-name {
  width: 29%;
}

.palette__col-year {
  width: 12%;
  text-align: right;
}

.palette__col-color {
  text-transform: uppercase;
}

.palette__col-value {
  width: 28%;
}

.palette__item-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
    vertical-align: top;
    border-radius: 2px;
    background-color: #45b5aa;
}

.palette__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;

  p {
    margin: 0;
    font-size: 15px;
    color: $color-disabled;
    text-transform: uppercase;
  }

  &--hidden {
    display: none;
  }
}
